/* 
Theme Name: First Theme
Author: Mehboob Shaikh
Author URI: https://www.twitter.com/mehboob_siraj
Version: 1.0
 */


body {
	font-family: Arial, san-serif,;
	font-size: 1em;
	color: #333;}

p {
	line-height: 1.65em;
}

a {
	color: #6c3e1e;
	text-decoration: none;
}
a:hover {
	color: #fd5151;
}

.site-header h1 , .site-header h5{
	padding-top: 10px;
	padding-left: 10px;
	margin: 0;
}
.site-header h5 {
	margin-bottom: 15px;
	padding-left: 10px;
	color: #AAA	;
}
/* 
	Layout
 */

div.container {
	max-width: 800px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

header {
	margin: 0;
	padding-bottom: 5px;
	/*border-bottom: 2px solid #999;*/
	background-color: #dcfdff;
}


a.post-link:link, a.post-link:visited {
	color: #4cbfd4;
	text-decoration: none;
}

a.post-link:hover {
	color: #fd5151;
}


img{
	border: 2px solid #999;
}
.post{
	border-bottom: 2px dotted #999;
}

.post:last-of-type {
	border-bottom: none;
}

.wp-caption-text {
	font-size: 13px;
	font-weight: bold;
}

/*
	Gallery / Images Layout
*/

div.gallery{
	border: 2px solid #999;
	overflow: hidden;
}

dl.gallery-item {
	margin: 0;
	padding: 0;
}


/*
	Navigation
*/

 .site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav ul:before, .site-nav ul:after {
	content: "";
	display: block;
}

.site-nav ul:after {
	clear: both;
	background-color: #999;
}

.site-nav ul {
	*zoom: 1;
}

.site-nav ul li {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	float: left;
	/*padding: 10px;*/
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.sub-menu a:hover {
	/*margin-top: 2px;*/
	background-color: #999;
}

.menu-item-has-children:hover .sub-menu {
    display: block;
}

nav div ul li a:link,
nav div ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #BBB;
}
nav div ul li a {
	margin-right: 5px;
}
nav div {
	margin-top: 2px;
	/*border-bottom: 1px solid #999;*/
}
.site-nav {
	padding-bottom: 1px;
	border-bottom: 1px solid #999;
}

nav div ul li.current-menu-item a:link,
nav div ul li.current-menu-item a:visited{
	background-color: #006ec3;
	color: white;
}

/* Post Page layout */

article.page h2 {
	font-family: san-serif;
	font-size: 200%;
}

article.single h2 {
	font-family: san-serif;
	font-size: 300%;
}

footer.site-footer {
	clear: both;
	text-align: center;
	background-color: #dcfdff;
	margin-top: 30px;
	border-top: 2px solid #999;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/*Introduction Page*/
/* Two Column Page Title and Content */

div.title-column {
	width: 30%;
	float: left;
	color: #4cbfd4;
}

div.content-column {
	/*margin-left: 5%;*/
	width: 65%;
	float: right;
}

/* Index Page Columns */

/* Main-Cloumn */
.main-column {
	width: 70%;
	float: left;
}

/* Secondary Column */
.secondary-column {
	width: 25%;
	float: right;
}

/* Footer Widgets Columns */
div.footer-widgets {
	box-sizing: border-box;
	/*border-top: 1px dotted #333;*/
}
div.footer-widgets {
	margin-top: 2em;
}
div.footer-widget-area {
	width: 25%;
	float: left;
	padding-right: 1.5em;
	box-sizing: border-box;
}

div.widget-item label {
	position: absolute;
	left: -9999px;
}
div.widget-item #s {
	margin-top: 2em;
	width: 60%;
	vertical-align: top;
	padding: 0.3em 0;
}
div.widget-item #searchsubmit {
	margin-top: 2em;
	width: 35%;
	float: right;
	border: none;
	background-color: #006ec3;
	color: #fff;
	padding: 0.5em 0.1em;
	vertical-align: top;
}

.footer-widget-area:before, .footer-widget-area:after {
	content: "";
	display: table;
}

.footer-widget-area:after {
	clear: both;
}

/* 
.page_item_has_children:hover .children {
    display: block;
	padding: 3px;
	background-color: transparent;
} */

.page-post-content ul li {
	padding: 5px;
}


/* Post Information */

.post-info {
	margin: 0;
	padding: 0;
	font-size: 80%;
	color: #222;
}

.post-info:hover {
	color: #555;
}

.post-info a:hover {
	color: #0050a5;
}

.post-info a {
	font-weight: bold;
	font-size: 110%;
	color: #006ec3;
}
p.post-info {
	padding-bottom: 5px;
}
a.post-tags{
	color: #333;
	font-weight: bold;
	font-size: 120%;
	padding-right: 5px;
	font-weight: normal;
}

iframe {
	border-radius: 30px;
	width: 100%;
}



/* ============================================= KARMA TEST ========================================== */

div.section1 {
	margin-top: 3%;
	width: 100%;
	height: 20%;
	/*background-color: #c2d0733b;*/
	padding: 2%;
}

div.column1 {
	float: left;
	width: 60%;
}

div.column2 {
	float: right;
	width: 35%;
}

div.welcome-image img {
	border: none;
	width: 100%;
}


div.section2 {
	width: 100%;
	padding: 2%;
	background-color: #c2d0733b;
}

div.latest-news-section {
	float: left;
	width: 30%;
}

div.popular-news-section {
	float: right;
	width: 60%;
}

 div.latest-news-image img {
	margin: 0;
	padding: 0;
	width: 100%;
}
/*

div.popular-news-image img {
	width: 60px;
	height: 65px;
}
div.popular-news-content {
	width: 65%;
	float: right;
} */


div.popular-news-row1 {
	width: 48%;
	height: 120px;
	float: left;
	margin-right: 0;
	margin-bottom: 10%;
}

div.popular-news-image {
	width: 25%;
	float: left;
}
div.popular-news-image img {
	border: none;
	width: 100%;
	height: 60px;
}

.more-button {
	margin: 0;
	border: none;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	background-color: red;
}

div.popular-news-content {
	width: 70%;
    float: right;
    margin-right: 0;
    margin-top: -3px;
}
div.popular-news-content p {
    font-size: 0.8em;
    margin-top: 3%;
    line-height: 1.3em;
}

/* Footer */

div.footer-row {
	width: 100%
}

div.footer-col1 {
	width: 20%;
	float: left;
}
div.footer-col4 {
	width: 40%;
	float: right;
	margin-right: 0;
}

h4.latest-news-title {
	line-height: 0;
	margin-bottom: 5%;
}

#post-date{
	font-size: 0.8em;
}

span.popular-post-title {
	font-size: 0.8em;
	font-weight: bold;
}

p.latest-news-content {
	line-height: 1.2em;
    font-size: 0.9em;
    color: #777;
}

div.post-content h2 {
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 2px;
	color: #6b3e1e;
}

p.welcome-content {
	text-align: justify;
	line-height: 1.4em;
	margin-top: 3%;
}
button.read-more-button {
	height: 25px;
	border: none;
	border-radius: 2px;
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	background-color: #6b3e1e;
}